.icon-microfono
{
color:blue;
font-size:30px;
float:left;
}
.icon-martillo
{
color:red;
font-size:30px;
float:left;

}

.icon-candado
{	
color:yellow;
font-size:30px;
float:left;

}

.caja
{	
color:yellow;
font-size:300px;
float:left;
width:200px;
height:200px;
}