.icon-lamp
{
	color: red
}
.icon-lock-locker-streamline
{
	color:blue;
}
.icon-microphone
{
	color: green;
}
.nav-wrapper
{
	background-color: yellow;
}
.material-icons
{
	color: black;
}
.icon-bars
{
	color: black;
}